<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>NYC History</title>
</head>
<body>
  <h1>Welcome to the NYC History Site!</h1>
  <h3><a href="/figures">View All Historical Figures</a></h3>
  <h3><a href="/landmarks">View All Landmarks</a></h3>
  <h3><a href="/figures/new">Create A New Historical Figure</a></h3>
  <h3><a href="/landmarks/new">Create A New Landmark</a></h3>
</body>
</html>